# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Source\l2jtesla\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
